body{
    background-color: rgb(255, 245, 151);
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    background: white;
    padding-bottom: 7vh;
    color: rgb(101,97,79);
    
}


body, .accordion-button, .nav-link, .list-group-item-single, li, h5, p{
    color: rgb(101,97,79);
    --bs-nav-link-hover-color: #fff537;   
}

a, .accordion-button:not(.collapsed){
    color: rgb(101,97,79);
    text-decoration: none;
}

.list-group-item-single:hover{
    color: #fff537;

}

.container{
    scroll-snap-type: y proximity;
}

.logo{
   max-height: 300px;
   max-width: fit-content;
}


@media only screen and (max-width: 600px){

    h5 {
        /* Font minimum, preferred and maximum value */
        font-size: clamp(var(--min), var(--val), var(--max));
      }

    body{
     font-size: clamp(12px, 14px, 13px);
    }

    h3{
        font-size: clamp(13px, 15px, 14px)
    }

    .surf{
        max-height: 10px;
    }

    .sunset{
        max-height: calc(16px + 0.3vw) !important;
        margin: 0 !important;
    }

    a{
        text-decoration: underline;
    }

    .logo{
        max-height: 200px;
        /* max-width: 100vw;; */
    }
}

.sunset{
    max-height: 50px;
    margin: auto;
}

.surf{
    max-height: 18px;
}

.burger{
    max-height: 30px;
}

section{
    margin: auto;
    margin-top: 50px;
}

.row{
    margin: auto;
    margin-top: 5vh; 

}
.welcome{
    border: 2px dotted rgba(101,97,79, .5);
    padding: 10px;
}

.accordion {
    --bs-accordion-active-bg: rgba(255,255,0,.8); 
    --bs-accordion-btn-focus-box-shadow: rgba(0,0,0,0);
  }


.menu{
    border: 1px rgb(101,97,79);
    border-style: dotted;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    overflow-wrap: break-word;
    /* max-width: 320px; */
    background-color: white;
    border-radius: 15px;
    padding: 8px 13px 7px;
}


.navbar{
  flex-direction: column;
  align-items: flex-start;
  --bs-navbar-toggler-border-color: rgba(0,0,0,0);
  justify-content: right;
  overflow: hidden;
}
@media (min-width: 986px)  {
    .navbar {
      max-width: 320px;
      position: fixed;
      flex-wrap: wrap;
      overflow: auto;
    
    }
}


.navbar-toggler{
    border: 2px dotted rgba(101,97,79, .5);
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    

}

.keyword{
    font-style: italic;
    /* padding-left: vw; */
}

/* .card-body, .modal-content{
    background-color: wheat;
} */

.modal-backdrop {
    background-color: yellow;
   
 }

 .btn-primary, .btn-secondary{
    --bs-btn-color:  rgb(101,97,79);
    --bs-btn-bg: rgba(0,0,0,0);
    --bs-btn-border-color: rgba(0,0,0,0);
    --bs-btn-hover-color: #fff537;
    --bs-btn-hover-bg:  rgba(0,0,0,0);
    --bs-btn-hover-border-color:rgba(0,0,0,0);
    --bs-btn-active-color: #fff537;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color:#fff;
 }

 .offcanvas{
    --bs-offcanvas-padding-y: .5rem;
    overflow: hidden;
 }

 .btn-link {
    cursor: pointer
  }