body{
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif !important;
}

.logo{
   max-height:200px;
   max-width: fit-content;
}

.sunset{
    max-height: 50px;

}

section{
    margin: auto;
    margin-top: 50px;
}

.row{
    margin: auto;
    margin-top: 50px;

}
.welcome{
    border: 1px;
    border-style: dashed;
    padding: 10px;
}

/* .move{
    flex: 1;
    height: 80%;
    overflow-y: scroll;
    overflow-x: scroll;
} */

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    position: fixed;
    height: calc(100% - 3vw);
    background-color: white;
    /* height: 80%; */
    /* overflow-y: scroll; */
}

