<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>𝒞𝑜𝒹𝑒 𝒮𝓊𝓇𝒻𝒾𝓃𝑔</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/lecture.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>

</head>

<body data-bs-spy="scroll" data-bs-target="#toc">
    <div class="container">
        <div class="row  d-flex flex-wrap-reverse">
            <!-- MAIN CONTENT COLUMN -->
            <div class="col-md-3" id="lecture-toc">
                <h1 data-toc-skip>{{page.title}}</h1>
                <nav id="toc" data-toggle="toc"></nav>
            </div>
            
            <div class="col-md-6" id="lecture-content">
                {{content}}
            </div>

            <!-- NAV BAR COLUMN -->
            <div class="col-md-3" id="site-nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-md d-flex">
                        <a class="navbar-brand" href="#"> </a>
                        <button id="OpenMenu" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                            <span>
                                <img src="/scr/burger_logo.png" class="img-fluid burger">
                            </span>
                        </button>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                            aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                    <img src="/scr/codesurfing_logo_small.png" class="img-fluid surf" id="offcanvasExampLabel">
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                                
                                    
                            </div>

                            <div class="offcanvas-body flex-wrap">
                                <a class="nav-link" href="#hello">
                                    <h2 data-toc-skip>Home</h2>
                                </a>

                                <div class="d-flex justify-content-between mt-2">
                                    <img src="/scr/sunset-ocean.gif" class="img-fluid sunset ">
                                    <img src="/scr/sunset-ocean.gif" class="img-fluid sunset">
                                    <img src="/scr/sunset-ocean.gif" class="img-fluid sunset">

                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </div>
    <script src="/sketch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- add after bootstrap.min.css -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />
    <!-- add after bootstrap.min.js or bootstrap.bundle.min.js -->
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

</body>

</html>